{% extends "templates/page.html" %}

{% block navbar %}
{% include "templates/adminNabBar.html" %}                   
{% endblock %}

{% block content %}

<div class="row">
        <div class="col-lg-4 col-xs-12">
                <h4>Создать новый тип лицензии</h4>
                <form action="/license/create" method="POST">
                        <input class="form-control" type="text" name="licname" placeholder="Название типа лицензии"><br>
                        <div id="input-container">
                                <input class="form-control" type="text" name="ops0" placeholder="Операция"><br>
                        </div>
                        <input type="button" class="btn btn-xs btn-default" onclick="addPole()" value="Добавить поле"><br><br>
                        <button type="input" class="btn btn-success">Создать</button>
                </form>
                <p></p>
        </div>
        <div class="col-lg-4 col-xs-12">
                <h4>Продажа лицензий:</h4>
                {% for lic in lics %}
                <form action="/license/offer" method="POST">
                        <p><b>{{lic.name}}</b> (
                                {% for ops in lic.opsTypes %}
                                        <span> {{ops}}; </span>
                                {% endfor %}
                        )</p>
                        <select name="user" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                {% for user in users %}
                                        {% set flag = "false" %}
                                        {% for sent in lic.sentence %}
                                                {% if (sent.login == user.login) and (sent.round == round) %}
                                                        {% set flag = "true" %}
                                                {% endif %}
                                        {% endfor %}
                                        {% if flag == "false" %}
                                        <option value="{{user.login}}">{{user.login}}</option> 
                                        {% endif %}
                                {% endfor %}
                                <option value="all">Всем без лицензий</option>
                        </select><br>
                        <input style="visibility: hidden" type="text" value="{{lic.name}}" name="licname">
                        <input class="form-control" type="text" name="price" placeholder="Цена"><br>
                        <input type="submit" class="btn btn-success" value="Предложить">
                </form>
                <hr>
                {% endfor %}   
        </div>
        <div class="col-lg-4 col-xs-12">
                <h4>Памятка по созданию лицензий:</h4>
                <p>Зачем нужна, что поля означают</p>
        </div>
</div>

<script>
        let i = 0;
        function addPole() {
                ++i;
                let container = document.getElementById('input-container'),
                        ops = document.createElement('input'),
                        br = document.createElement('br');

                ops.type = 'text';
                ops.classList.add('form-control');
                ops.name = 'ops'+i;
                ops.placeholder = 'Еще операция';
                
                container.appendChild(ops);
                container.appendChild(br);
        }
</script>
{% endblock %}