{% extends "templates/page.html" %}

        {% block navbar %}
                {% include "templates/adminNabBar.html" %}                   
        {% endblock %}

        {% block content %}
        <div class="row">
                <div class="col-lg-4 col-md-12">
                        <h3>Текущий раунд: {{round}}</h3><br>
                        <button type="input" onclick="prev()" class="btn btn-danger">Назад</button>&nbsp;&nbsp;<button type="input" onclick="next()" class="btn btn-success">Следующий</button>
                        <hr>
                        {% if status == 1 %}
                        <a class="btn btn-default btn-lg" href="/round/pause">Приостановить</a>
                        {% else %}
                        <a class="btn btn-default btn-lg" href="/round/start">Возобновить</a>
                        {% endif %}
                </div>
        </div>
        <script>
                function prev(){
                        $.ajax({
                                url: '/round/prev',
                                method: 'GET',
                                asycn: true,
                                statusCode: {
                                        200: function(message) {
                                        document.location.reload(true)
                                        }
                                }
                        });
                }
                function next(){
                        $.ajax({
                                url: '/round/next',
                                method: 'GET',
                                asycn: true,
                                statusCode: {
                                        200: function(message) {
                                        document.location.reload(true)
                                        }
                                }
                        });
                }
        </script>
        {% endblock %}