{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <h3>Аналитика:</h3><br>
    </div>
    <div class="col-lg-4 col-md-12" style="border: 2px solid #3071a9; margin:10px; border-radius: 5px 5px 5px 5px;">
        <br>
      <form action="/analitic" method="POST">
        <div class="input-group">
          <label>Сортировка: &nbsp;</label>
          <select name="sort">
            <option value="all">Все</option>
                <option value="txs" {% if selected[0] == "txs" %}selected{% endif %}>Число транзакций</option>
                <option value="volume" {% if selected[0] == "volume" %}selected{% endif %}>Оборот средств</option>
                <option value="netOne" {% if selected[0] == "netOne" %}selected{% endif %}>Сеть 1-го ранга</option>
                <option value="netTwo" {% if selected[0] == "netTwo" %}selected{% endif %}>Сеть 2-го ранга</option>
          </select><br>
          <label>Компании: &nbsp;</label>
          <select name="companytype">
            <option value="all" {% if selected[2] == "all" %}selected{% endif %}>Все</option>
            <option value="prj" {% if selected[2] == "prj" %}selected{% endif %}>Проектные</option>
            <option value="ind" {% if selected[2] == "ind" %}selected{% endif %}>Технологические</option>
          </select><br>
          <label>Геймы: &nbsp;</label>
          <select name="round">
            <option value="all">Все</option>
            {% for _round in rounds %}
               {% if selected.length>0 %}
                {% if selected[1] == _round %}
                  <option value="{{_round}}" selected>{{_round}}</option>
                {% else %}
                  <option value="{{_round}}">{{_round}}</option>
                {% endif %}
              {% else %}
                <option value="{{_round}}">{{_round}}</option>
              {% endif %}
            {% endfor %}
          </select><br>
          &nbsp;<button type="input" class="btn btn-primary btn-xs">Посчитать</button><br>
          &nbsp;<a class="btn btn-default btn-xs" href="/analitic">Сбросить</a>
        </div>  
      </form>
      <br>
  </div>

    <div class="col-lg-12 col-sm-12">
        <h4></h4>
        <a href="/txs"><--- Смотреть список всех транзакций</a></br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Число транзакций</th>
                    <th scope="col">Оборот средств</th>
                    <th scope="col">Сеть 1-го ранга</th>
                    <th scope="col">Сеть 2-го ранга</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{user.login}}</td>
                        <td>{{user.txs}}</td>
                        <td>{{user.volume}}</td>
                        <td>{{user.netOne}}</td>
                        <td>{{user.netTwo}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                
        <!--div id="container"></div-->
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>Highcharts.addEvent(
    Highcharts.Series,
    'afterSetOptions',
    function (e) {
        var colors = Highcharts.getOptions().colors,
            i = 0,
            nodes = {};

        if (
            this instanceof Highcharts.seriesTypes.networkgraph &&
            e.options.id === 'lang-tree'
        ) {
            e.options.data.forEach(function (link) {

                if (link[0] === '1') {
                    nodes['1'] = {
                        id: '1',
                        marker: {
                            radius: 20
                        }
                    };
                    nodes[link[1]] = {
                        id: link[1],
                        marker: {
                            radius: 10
                        },
                        color: colors[i++]
                    };
                } else if (nodes[link[0]] && nodes[link[0]].color) {
                    nodes[link[1]] = {
                        id: link[1],
                        color: nodes[link[0]].color
                    };
                }
            });

            e.options.nodes = Object.keys(nodes).map(function (id) {
                return nodes[id];
            });
        }
    }
);

Highcharts.chart('container', {
    chart: {
        type: 'networkgraph',
        height: '400px'
    },
    title: {
        text: 'The Indo-European Language Tree'
    },
    subtitle: {
        text: 'A Force-Directed Network Graph in Highcharts'
    },
    plotOptions: {
        networkgraph: {
            keys: ['from', 'to'],
            layoutAlgorithm: {
                enableSimulation: true,
                friction: -0.1
            }
        }
    },
    series: [{
        dataLabels: {
            enabled: true,
            linkFormat: ''
        },
        id: 'lang-tree',
        data: []
    }]
});</script>
{% endblock %}