{% extends "templates/page.html" %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block commonStyles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />    
    <link rel="stylesheet" href="/css/temp.css" />
    {% endblock %}
    <title></title>
</head>
<body>
{% endblock %}
{% block content %}
    {% if stop == false %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Обратите внимание!</h4>
        <p>При принятии заявки, с заказчика списывается сумма, указанная в заявке, а исполнитель обязан до конца раунад реализовать заказ, в ином случае исполнитель - штрафуется.</p>
        <p>Запрещено создавать объявления не соответствующие вашей лицензии.</p>
        <p>Одновмеренно допустимо не более 10 нереализованных заявок.</p>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Гейм завершён!</h4>
        <p>Чтобы разместить объявлениие или совершить сделку, дождитесь следующего гейма.</p>
    </div>
    {% endif %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <h3>Текущий баланс: 
        {% if (user.balance == specBalance) %}
            {{user.balance}}</h3>
        {% else %}
            {% set dolg = user.balance-specBalance %}</h3>
            <span>{{specBalance}} (начислено системой {{-dolg}}, за {{-dolg/50}} дней)</span>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-6">
        <div class="advert-1">
            <h4>Поиск объявлений:</h4>
            <form method="GET" action="/board/search">
                {% for pr in predmets %}
                    <input type="radio" name="predmet" value="{{pr}}" {% if selected[0] == pr %}checked{% endif %}>&nbsp;<labeL>{{pr}}</labeL><br>
                {% endfor %}
                <hr>
                <input type="radio" name="buysell" value="buy" {% if selected[1] == "buy" %}checked{% endif %}>&nbsp;<labeL>Хотят купить</labeL><br>
                <input type="radio" name="buysell" value="sel" {% if selected[1] == "sel" %}checked{% endif %}>&nbsp;<labeL>Хотят продать</labeL><br>
                <input type="submit" class="btn btn-success" value="Найти">&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="/board">Сбросить</a>
            </form>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-6">
        <div class="advert-1">
            <h4>Создать объявление: ({{myActiveAds.length}}/10)</h4>
            <form method="POST" action="/advert/create">
                <div id="buysell_div">
                {% for pr in canSell %}
                    <input type="radio" name="predmet" value="{{pr}}" {% if loop.index == 1 %} checked {% endif %}>&nbsp;<labeL>{{pr}}</labeL><br>
                {% endfor %}
                {% if canSell.length == 0 %}
                    <p style="color:brown">Ваша лицензия не предусматривает продажу изделий</p>
                {% endif %}
                </div>

                <input type="text" name="fizPredmet" placeholder="Предмет сделки"><br>
                <input type="number" name="count" placeholder="Кол-во предметов"><br>
                <input type="number" name="fizPrice" placeholder="Цена">
                <hr>
                <input type="radio" onclick="buysellradio(this);" name="buysell" value="buy" >&nbsp;<labeL>Куплю</labeL><br>
                <input type="radio" onclick="buysellradio(this);" name="buysell" value="sel" checked>&nbsp;<labeL>Продам</labeL><br>
                {% if stop == false %}
                <input type="submit" class="btn btn-warning" value="Создать">
                {% else %}
                <input type="submit" class="btn btn-warning" value="Создать" disabled>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="col-lg-2 col-md-6 col-6">
        <h4>Ваши объявления:</h4> 
        {% for item in myActiveAds %}
        <span style="cursor: pointer" onclick="myads('{{item.num}}','{{item.offerType}}','{{item.predmet}}','{{item.price}}')">Объявление #{{item.num}}</span> <a href="/cancel/ad/{{item.num}}" class="btn btn-default btn-xs">Отменить</a></br>
        {% endfor %}

    </div>  
    <div class="col-lg-2 col-md-6 col-6">
        <h4>Архив сделок:</h4>  
        {% for ob in obligation %}
            {% if ob.actual == 1 %}
            <span style="color:rgb(10, 175, 10)"><b>Вы поставляете: {{ob.responser}}</b> - ( {{ob.predmet}} )</span><br>
            {% else %}
            <span style="color:grey"><b>Вы поставляете: {{ob.responser}}</b> - ( {{ob.predmet}} )<br></span>
            {% endif %}
        {% endfor %}
        <hr>
        {% for ob in bought %}
            {% if ob.actual == 1 %}
            <span style="color:rgb(218, 29, 129)"><b>Вам поставляют: {{ob.responser}}</b> - ( {{ob.predmet}} )</span><br>
            {% else %}
            <span style="color:grey"><b>Вам поставляют: {{ob.responser}}</b> - ( {{ob.predmet}} )<br></span>
            {% endif %}
        {% endfor %}
    </div>
        

</div>  
    <hr>
    <!--div class="container-fluid"-->
    <h3>Актуальные объявления:</h3>
        <div class="row">
                {% for ad in ads %}
                    <div class="col-lg-3 col-md-12 card-board">
                        {% if ad.offerType == "sel" %}
                            <div class="card-board-inner {% if ad.author == login %} authors-buy {% endif %} buy">
                                <h4>Объявление #{{ad.num}}</h4>
                                <p>Автор: {{ad.author}}</p>
                                <p>Тип заявки: На продажу</p>
                                <p>Предмет: {{ad.predmetType}}<br>( {{ad.predmet}} ) {{ad.count}} шт.</p>
                                <p>Цена: {{ad.price}} у.е. </p>
                                {% set iCanBuy = false %}
                                {% for can in canBuy %}
                                    {% if can == ad.predmetType%}
                                        {% set iCanBuy = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if (stop == false and ad.author != login) and (iCanBuy == true) %}
                                <a href="/advert/buy/{{ad.num}}" onclick='return confirm("Уверены?")' class="btn btn-success btn-xs">Купить</a>
                                {% else %}
                                <a href="/advert/buy/{{ad.num}}" onclick='return confirm("Уверены?")' class="btn btn-success btn-xs" disabled>Купить</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="card-board-inner {% if ad.author == login %} authors-sell {% endif %} sell">
                                <h4>Объявление #{{ad.num}}</h4>
                                <p>Автор: {{ad.author}}</p>
                                <p>Тип заявки: Закупка</p>
                                <p>Предмет: {{ad.predmetType}}<br>( {{ad.predmet}} ) {{ad.count}} шт.</p>
                                <p>Цена: {{ad.price}} у.е. </p>
                                {% set iCanSell = false %}
                                {% for can in canSell %}
                                    {% if can == ad.predmetType%}
                                        {% set iCanSell = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if (stop == false and ad.author != login) and (iCanSell == true) %}
                                <a href="/advert/sell/{{ad.num}}" onclick='return confirm("Уверены?")' class="btn btn-danger btn-xs">Поставить</a>
                                {% else %}
                                <a href="/advert/sell/{{ad.num}}" onclick='return confirm("Уверены?")' class="btn btn-danger btn-xs" disabled>Поставить</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
        </div>  
</div>
<script>
    function myads(num, _type, predemt, price){
        alert(`Тип объявления: ${(_type=='buy'?'Покупка':'Продажа')}
        Предмет сделки: ${predemt}
        Цена: ${price}`);
    }
    function buysellradio(event) {
        let toBuy = '{{canBuy}}'.split(',');
        let toSell =  '{{canSell}}'.split(',');

        let div = document.getElementById('buysell_div');
        div.innerHTML= ``;

        if (event.value == 'buy') {
            if (toBuy == '' || toBuy.length == 0)
                div.innerHTML += `<p style="color:brown">Ваша лицензия не предусматривает покупку изделий</p>`;
            else
                for(let i=0; i<toBuy.length; i++) {
                    if (i==0)
                        div.innerHTML += `<input type="radio" name="predmet" value="${toBuy[i]}" checked>&nbsp;<labeL>${toBuy[i]}</labeL><br>`;
                    else 
                        div.innerHTML += `<input type="radio" name="predmet" value="${toBuy[i]}">&nbsp;<labeL>${toBuy[i]}</labeL><br>`;
                }
        } else {
            if (toSell.length == 0 || toSell == '')
                div.innerHTML += `<p style="color:brown">Ваша лицензия не предусматривает продажу изделий</p>`;
            else
                for(let i=0; i<toSell.length; i++) {
                    if (i==0)
                        div.innerHTML += `<input type="radio" name="predmet" value="${toSell[i]}" checked>&nbsp;<labeL>${toSell[i]}</labeL><br>`;
                    else 
                        div.innerHTML += `<input type="radio" name="predmet" value="${toSell[i]}">&nbsp;<labeL>${toSell[i]}</labeL><br>`;
                }
        }
    }
</script>
{% endblock %}