{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-12 col-12">
        
        {% if user == null %}
        <form action="/log" method="POST">
            <h3>Уже зарегистрированы?</h3>
            <h4>Вход:</h4>
            <input id="login" name="login" class="form-control" type="text" placeholder="Логин(email)">
            <br>
            <input id="pass" name="pass" class="form-control" type="password" placeholder="Пароль">
            <!--input type="radio" name="usertype" value="user" checked> Пользователь<br>
            <input type="radio" name="usertype" value="prjct"> Проектная группа-->
            <br>
            <button type="input" class="btn btn-primary">Войти</button>
        </form>
        <br>
        <br>
        <h3>Еще не зарегистрированы?</h3>
        <a href="/reg">Страница <b>РЕГИСТРАЦИИ</b></a>
        <br>
        <!--br>
        <a href="/reg/prjct">Страница регистрации <b>"Проектной группы"</b></a-->
        {% else %}
        <br>
        <h4>Вы авторизованы как {{user.email}}</h4>
        <form action="/setfio" method="POST">
            {% if user.name == "" %}
                <input id="text" name="Imya" class="form-control" type="text" placeholder="Имя">
            {% else %}
                <h4>Имя: {{user.name}}</h4>
            {% endif %}
            {% if user.lastname == "" %}
                <input id="text" name="Familia" class="form-control" type="text" placeholder="Второе имя">
            {% else %}
            <h4>Второе имя: {{user.lastname}}</h4>
            {% endif %}
            {% if (user.name == "") or (user.lastname == "") %}
            <button type="input" class="btn btn-primary">Сохранить</button>
            {% endif%}
        </form>
        <br>
        <br>
        <a href="/logout">Выйти</a>
        {% endif%}
    </div>
</div>
<script>
    function otkaz() {
        let answer = confirm('Уверены? Вернуть лицензию будет крайне сложно.');
        if (answer) {
            $.post('/license/sell', {
                licName: document.getElementById('licdecline').innerHTML
            })
            .done(document.location.reload(true));
        }
    }
    function prodlit() {
        if (Number({{defPrice}})>Number({{balance}})) {
            alert('У вас недостаточно средств для продления лицензии!!!')
        } else {

            let answer = confirm('Уверены?');
            if (answer) {
                $.ajax({
                    url: '/license/extend',
                    method: 'POST',
                    data: {licName: document.getElementById('extend').innerHTML},
                    asycn: true,
                    statusCode: {
                        200: function(message) {
                            document.location.reload(true)
                        }
                    }
                });
            }
        }
    }
    function oplata(){
        if (Number({{acceptPrice}})>Number({{balance}})) {
            alert('У вас недостаточно средств для продления лицензии!!!')
        } else {
            let answer = confirm('Уверены? С вашего счета произойдет списание');
            if (answer) {
                $.ajax({
                    url: '/license/buy',
                    method: 'POST',
                    data: {licName: document.getElementById('licoffer').innerHTML},
                    asycn: true,
                    statusCode: {
                        200: function(message) {
                            document.location.reload(true)
                        }
                    }
                });
            }
        }
    }
</script>

{% endblock %}