{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        
        {% if user == null %}
        <form action="/log" method="POST">
            <h3>Вход в "Кошелек"</h3>
            <input id="login" name="login" class="form-control" type="text" placeholder="Логин">
            <br>
            <input id="pass" name="pass" class="form-control" type="password" placeholder="Пароль">
            <br>
            <button type="input" class="btn btn-success">Войти</button>
        </form>
        <br>
        <a href="/reg">Страница регистрации...</a>
        {% else %}
        <br>
        <form action="/setfio" method="POST">
            {% if user.name == "" %}
                <input id="text" name="Imya" class="form-control" type="text" placeholder="Имя">
            {% else %}
                <h4>Имя: {{user.name}}</h4>
            {% endif %}
            {% if user.lastname == "" %}
                <input id="text" name="Familia" class="form-control" type="text" placeholder="Фамилия">
            {% else %}
            <h4>Фамилия: {{user.lastname}}</h4>
            {% endif %}
            {% if (user.name == "") or (user.lastname == "") %}
            <button type="input" class="btn btn-success">Сохранить</button>
            {% endif%}
        </form>
            
        <br>
        <br>
        <h3>Вы авторизованы как {{user.login}}</h3>
        <a href="/logout">Выйти</a>
        {% endif%}
    </div>
</div>

{% endblock %}