{% extends "templates/page.html" %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block commonStyles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />    
    <link rel="stylesheet" href="/css/temp.css" />
    {% endblock %}
    <title></title>
</head>
<body>
{% endblock %}
{% block content %}
<div class="alert alert-warning" role="alert">
    {% if round == 1 %}
        <h4 class="alert-heading"></h4>
        <p>Доска объявлений находится в разработке и станет доступна после первого гейма.</p>
    {% endif %}
    {% if round == 2 %}
        <h3>Стоимость доступы 10 у.е. за раунд</h3>
        <form action="/permission" method="POST">
            <input type="submit" class="btn btn-warning" value="Оплатить">
        </form>
    {% endif %}
    {% if round >= 3 %}
        <h3>Стоимость доступы 25 у.е. за раунд</h3>
        <form action="/permission" method="POST">
            <input type="submit" class="btn btn-warning" value="Оплатить">
        </form>
    {% endif %}
</div>
{% endblock %}