{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <h3 style="margin-left:10px;">Текущий раунд: {{rounds[rounds.length-1]}}</h3>
</div>
<div class="row">
   
  <div class="col-lg-4 col-md-12" style="border: 1px solid green; margin:10px; border-radius: 5px 5px 5px 5px;">
      <br>
      <!--form action="/rait" method="POST">
        <div class="input-group">
          <input type="text" class="form-control" style="width:50%" name="mask" id="mask" placeholder="Введите маску поиска" aria-describedby="basic-addon2">
          &nbsp;<button type="input" class="btn btn-success">Фильтровать</button>
        </div>  
      </form-->
      <form action="/rait" method="POST">
        <div class="input-group">
          <label>Лицензии: &nbsp;</label>
          <select name="table">
            <option value="all">Все</option>
            {% for table in tables %}
            <option value="{{table}}">{{table}}</option>
            {% endfor %}
          </select><br>
          <label>Раунды: &nbsp;</label>
          <select name="round">
            <option value="all">Все</option>
            {% for round in rounds %}
            <option value="{{round}}">{{round}}</option>
            {% endfor %}
          </select><br>
          &nbsp;<button type="input" class="btn btn-success btn-xs">Фильтровать</button><br>
          &nbsp;<a class="btn btn-default btn-xs" href="/rait">Сбросить</a>
        </div>  
      </form>
      <br>
  </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-12">
        <h3>Список игроков:</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Логин</th>
                {% if admin == true %}
                  <th scope="col">ФИО</th>
                  <th scope="col">Email</th>
                {% endif %}
                <th scope="col">Баланс</th>
                <th scope="col">Лицензия</th>
              </tr>
            </thead>
            <tbody>
            {% set balance = 0 %}
            {% for item in items %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{item.login}}</td>
                      {% if admin == true %}
                      <td>{{item.name}} {{item.lastname}}</td>
                      <td>{{item.email}}</td>
                      {% endif %}
                    <td>{{item.balance}}</td>
                    <td>
                      {% set flag = false %}
                      {% for lic in item.licenses %}
                        {% if search != true %}
                          {% if (lic.round == round) and (lic.status == true) %}
                            {{lic.name}}
                            {% set flag = true%}
                          {% endif %}
                        {% else %}
                          {% if (lic.round == round) and (lic.status == true) %}
                            <span style="color:green"> {{lic.name}} </span> 
                            {% set flag = true%}
                          {% endif %}
                          {% if (lic.round == round) and (lic.status == false) %}
                            <span> {{lic.name}} </span>
                            {% set flag = true%}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      {% if flag == false%}
                      <span> <b>-</b> </span>
                      {% endif %}
                    </td>
                </tr>
            {% set balance = balance + item.balance%}
            {% endfor %}
            <tr>
                <th scope="row">#</th>
                <td > </td>
                <td ><b>{{balance}}</b></td>
                <td > </td>
                {% if admin == true %}
                <td></td>
                <td></td>
                {% endif %}
            </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}