{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-10 col-md-12">
        <h3>Рейтинг</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">LVL</th>
                <th scope="col">ID</th>
                <th scope="col">Кто</th>
                  {% if admin == true %}
                  <th scope="col">Email</th>
                {% endif %}
                <th scope="col">Итог</th>
              </tr>
            </thead>
            <tbody>
            {% set balance = 0 %}
            {% for item in items %}
                <tr>
                    <th scope="row">
                      {% if item.balance == 1000 %}
                        0
                      {% elif item.balance > 1000 %}
                        {{plus-loop.index+1}}
                      {% else %}
                        -{{loop.index-zero-plus}}
                      {% endif %}
                    </th>
                    <td>{{item.login}}</td>
                      
                      <td>{{item.name}} {{item.lastname}}</td>
                      {% if admin == true %}
                      <td>{{item.email}}</td>
                      {% endif %}
                    <td>{{item.balance}}</td>
                </tr>
            {% set balance = balance + item.balance%}
            {% endfor %}
            <tr>
                <th scope="row">Всего</th>
                <td > </td>
                <td > </td>
                <td ><b>{{balance}}</b></td>
                <td > </td>
                {% if admin == true %}
                <td></td>
                {% endif %}
            </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}