{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-10 col-sm-12">
        <br>
        <form action="/rait" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" style="width:50%" name="mask" id="mask" placeholder="Введите маску поиска" aria-describedby="basic-addon2">
            &nbsp;<button type="input" class="btn btn-success">Фильтровать</button>
          </div>  
        </form>
        <br>
        <h3>Список игроков:</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Логин</th>
                {% if admin == true %}
                  <th scope="col">ФИО</th>
                {% endif %}
                <th scope="col">Баланс</th>
                <th scope="col">Лицензия</th>
              </tr>
            </thead>
            <tbody>
            {% set balance = 0 %}
            {% for item in items %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{item.login}}</td>
                      {% if admin == true %}
                      <td>{{item.name}} {{item.lastname}}</td>
                      {% endif %}
                    <td>{{item.balance}}</td>
                    <td>{{item.license}}</td>
                </tr>
            {% set balance = balance + item.balance%}
            {% endfor %}
            <tr>
                <th scope="row">#</th>
                <td > </td>
                <td ><b>{{balance}}</b></td>
                <td ></td>
            </tr>
            </tbody>
          </table>
    </div>
</div>
{% endblock %}