{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-12 col-12">
        <form action="/reg/prjct" method="POST">
            <h3>Регистрация игрока</h3>
            <br>
            <p style="color:brown"><u><b>Выберите из списка <b>любой</b> доступный логин для "Проектной группы"!</b></u></p>
            <select name="login" id="login" class="selectpicker" data-show-subtext="true" data-live-search="true">
                {% for item in logins %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select> - <b>Используйте как логин на странице входа.</b>
            <br>
            <br>
            <input id="name" name="name" class="form-control" type="text" placeholder="Название проектной группы">
            <br>
            <input id="pass" name="pass" class="form-control" type="password" placeholder="Пароль">
            <br>
            <input id="pass1" name="pass1" class="form-control" type="password" placeholder="Повторите пароль">
            <br>
            <button type="input" class="btn btn-success">Зарегистрироваться</button>
        </form>

    </div>
</div>

{% endblock %}