{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <h3>Контракт #{{sc}}</h3>
        <a href="/sc/{{sc}}"><-- Просмотреть полную версию контракта</a>
    </div>
</div>
<hr>

    <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                <span>{{field.name}}</span>
            </div>

        <div class="col-lg-6 sol-sm-12">
        {% if field.author %}
            <p><b>{{field.value}}</b> [<i>Заполнил: {{field.author}}</i>]</p>
        {% else %}
            <form action="/sc/field" method="POST">
                {% if (field.type=="$слово") or (field.type=="$буква") or (field.type=="$число") %}
                    <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                        <input name="data" type="text" class="form-control"  placeholder="{{field.type}}" />
                    </div>
                {% endif %}

                {% if field.type=="$время" %}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                {% else %}
                    <div class="col-5 col-sm-5 col-md-5 col-lg-5">
                {% endif %}
                <input name="fieldId" type="hidden" value="{{field._id}}" />
                <input name="fieldName" type="hidden" value="{{field.name}}" />
                <input name="skId" type="hidden" value="{{sc._id}}" />
                <button class="btn btn-success btn-block">&#10004;</button>
                </div>
            </form>
            <div class="col-12" style="position: static !important;">
                &nbsp;&nbsp;&nbsp;&nbsp;<i>доступен ввод для {{field.sec}}</i>
            </div>
            
            {% endif %}
        </div>
    </div>
</div> 
<script>
    function copyLink() {
        let cop = document.getElementById('copyObj')
        cop.select();
        document.execCommand('copy')
        console.log('coppied')
    }
</script>       
{% endblock %}