{% extends "templates/page.html" %}
{% block head %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block commonStyles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="/css/smartContracts.css" />
  {% endblock %}
  <title>Смарт-контракты</title>
</head>

<body>
  {% endblock %}
  {% block content %}
  <div class="row vh-75">
    <!-- Block 1: Write code + Show Blocks -->
    <div class="first-block col-12 col-sm-12 col-md-8 col-lg-8">
      <!-- SubBlock 1: Write code -->
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif %}
      <div class="col-block row mb-4 h-50">
        <div class="col">
          <div class="card text-center h-100">
            <div class="card-header font-weight-bold">
              Новый смарт-контракт
            </div>
            <form action="/sc/create" method="post">
            <div class="card-body">
              <textarea name="scText" class="form-control h-90" id="smart-contract-code"
                placeholder="Введите код контракта здесь"></textarea>
              <div id="code-error" class="invalid-feedback">
                {% if error %}
                Обнаружена ошибка в контракте:
                {{error}}
                {% endif %}
              </div>
            </div>
            <div class="card-footer">
              <button id="send-code" class="btn btn-block btn-primary">Отправить</button>
            </div>
          </form>
          </div>
        </div>
      </div>

      <!-- SubBlock 2: Show Blocks -->
      <div class="col-block row h-50">
        <div class="col h-100">
          <div class="card text-center h-100">
            <div class="card-header font-weight-bold">
              Обозреватель блоков
            </div>
            <div class="card-body overflow-auto">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Время</th>
                      <th>Автор</th>
                      <th>Контракт</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs %}
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td>{{log.time}}</td>
                      <td>{{log.author}}</td>
                      <td>{{log.action}}<td>
                      <td>{{log.data}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Block 2: Show contracts -->
    <div class="col-block col-12 col-sm-12 col-md-4 col-lg-4 h-100">
      <div class="card h-100">
        <div class="card-header text-center font-weight-bold">
          Смарт-контракты (<span id="round">{{round}}</span> раунд)
        </div>
        <div class="card-body h-100">
            {% for sc in scs %}
            {% if sc.round == round %}
          <div class="accordion h-100 overflow-auto" id="contractsList">

            <div class="card">
              <div class="card-header">
                <button class="btn btn-block dropdown-toggle" type="button" data-toggle="collapse"
                  data-target="#collapse{{loop.index}}">
                  id: {{sc._id}} <br>
                  (Баланс: {{sc.resBalance}})<br>
                  Создал-контракт: {{sc.author}}<br>
                  Подробнее:
                </button>
              </div>
              <div id="collapse{{loop.index}}" class="collapse show" data-parent="#contractsList">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col">
                      <button class="btn btn-block btn-info" data-toggle="modal" data-target="#codeModal{{sc._id}}">
                        Код
                      </button> 
                      <a class="btn btn-block btn-default" href="/sc/distribute/{{sc._id}}">
                        Распределить баланс
                      </a> 
                      <a class="btn btn-block btn-default" href="/wallet/{{sc._id}}" target="_blank">
                        Пополнить
                      </a> 
                    </div>
                  </div>
                  {% for field in sc.fields %}
                    
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group form-row">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                              <span>{{field.name}}</span>
                            </div>
                            {% if field.author %}
                              <p><b>{{field.value}}</b> [<i>Заполнил: {{field.author}}</i>]</p>
                            {% else %}
                              <form action="/sc/field" method="POST">
                                  {% if field.type=="$слово" or field.type=="$буква" or field.type=="$число" %}
                                  <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                                    <input name="data" type="text" class="form-control" placeholder="{{field.type}}" /></input>
                                  </div> 
                                  {% endif %}
                                {% if field.type=="$время" %}
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                {% else %}
                                  <div class="col-5 col-sm-5 col-md-5 col-lg-5">
                                {% endif %}
                                  <input name="fieldId" type="hidden" value="{{field._id}}" />
                                  <input name="skId" type="hidden" value="{{sc._id}}" />
                                  <button class="btn btn-success btn-block">&#10004;</button>
                                </div>
                              </form>
                              <div class="col-12">
                                &nbsp;&nbsp;&nbsp;&nbsp;<i>доступен ввод для {{field.sec}}</i>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    
                  {% endfor %}
                  <hr>
                  <div class="row">
                    <div class="col-12">
                      Результаты контракта:<br>
                      {% for res in sc.results %}
                        {% if res.user %}
                        <b>{{res.user}}</b> = {{res.balance}} y.e.<br>
                        {% else %}
                          <i><span>Недостаточно данных...</span><br></i>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% for sc in scs %}
  <div class="modal" id="codeModal{{sc._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="codeModalLabel">Код контракта №{{sc._id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" id="source-code" rows="5" disabled>
              {{sc.text | indent}}
          </textarea>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% endblock %}
  {% block commonJS %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!--script src="/js/contractPageConf.js"></script>
  <script src="/js/createContract.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script>
      (async () => {
          let usr = await $.get('/api/v1/mylogin');
          let time = await $.get('/api/v2/time/now');
          let span = document.getElementById('mylogin');
          console.log(usr)
          span.innerHTML = usr.usr ? `Ваш логин (${usr.usr})` : '';
          span.innerHTML += time ? ` | до конца раунда: ${600-time} секунд` : '';
      }
      )();
  </script>
  {% endblock %}