{% extends "templates/page.html" %}
{% block head %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block commonStyles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="/css/smartContracts.css" />
  {% endblock %}
  <style>
    .rotate {
      transition: transform 2s ease;
      transform: rotate(360deg);
    }
  </style>
  <title>Смарт-контракты</title>
</head>

<div>
  {% endblock %}
  {% block content %}
  <div class="row">
    <div class="first-block col-12 col-sm-12 col-md-12 col-lg-12" id="CreateResponse">

    </div>
  </div>
  <div class="row vh-75">
    <!-- Block 1: Write code + Show Blocks -->
    <div class="first-block col-12 col-sm-12 col-md-8 col-lg-8">
      <!-- SubBlock 1: Write code -->
      <div class="col-block row mb-4 h-100">
        <div class="col h-100">
          <div class="card text-center h-100">
            <div class="card-header font-weight-bold" >
              <table width="100%">
                <tr>
                    <td width="33%"></td>
                    <td width="33%"><span align="center">Новый смарт-контракт</span></td>
                    <td width="33%" style="text-align:right">
                      <span style="cursor: pointer;font-size:9pt;font-style:italic;" data-toggle="modal" data-target="#spravkaModal">
                        <img width="16px" src="/img/spr.png">&nbsp;&nbsp;Справка
                      </span></td>
                </tr>
              </table>
              
            </div>
            
            <div class="card-body h-100" id="podsvetka">
              <div style="background-color:mistyrose;width:100%">
                <span id="debId" style="font-size:11pt;font-style:italic;"></span>
              </div> 
              <!--form action="/sc/create" method="post" -->
              <textarea id="scText" name="scText" class="form-control" id="smart-contract-code" oninput="_debugger()"
                placeholder="Введите код контракта здесь" style="height:500px"></textarea>
              <div id="code-error" class="invalid-feedback">

              </div>
              <button onclick="createSc()" id="send-code" class="btn btn-block btn-primary" style="margin-top:10px;">Отправить</button>
            <!--/form-->
            </div>
          
          </div>
        </div>
      </div>
    </div>

    <!-- Block 2: Show contracts -->
    <div class="col-block col-12 col-sm-12 col-md-4 col-lg-4 h-100">
      <div class="card h-100">
        <div class="card-header text-center font-weight-bold">
          Смарт-контракты (<span id="round">{{round}}</span> раунд)
          <span onclick="updContract()" style="cursor: pointer">&nbsp;&nbsp;<img id="updImg" src="/img/upd.png" width="16px"></span>
        </div>
        <div class="card-body h-100 overflow-auto" id="scs-div">

        </div>
      </div>
    </div>
  </div>

  <div id="modal-sc">

  </div>
    <div class="modal" tabindex="-1" role="dialog" id="spravkaModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" >Справка</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body overflow-auto">
              <p>
                <b>1. Принципы работы смарт-контрактов</b><br>
                <p>Контракт представляет из себя программный код с заданными его разработчиками правилами контрактации.</p>
                <p>Код и данные в контракте невозможно удалить, изменить, подделать.</p>
                <p>Код и данные используемых контрактов является открытым(публичным) для всех игроков.</p>
                <p>Можно создать неограниченное количество смарт-контрактов с одинаковым кодом.</p>
                <p>В конракте есть поля, которые игроки заполняют в процессе игровой контрактации, на основе этих данных, по формулам контракта рассчитывается прибыль участников данного контракта.</p><br>
                <p>Баланс контракта можно пополнить в банке.</p><br>
                <p>Баланс контракта можно распределить в соотвествии с его результатами, в любой момент.</p><br>
                <b>2. Правила языка смарт-контрактов "T2CH Lang"</b><br>
                <p>Смарт-Контракт(далее СК) состоит из двух обязательных блоков:<br>
                  КОНТРАКТ#<br>
                  <i>Список заполняемых полей...;</i><br>
                  РЕЗУЛЬТАТ#<br>
                  <i>Список получателей прибыли, с формулами их рассчета...;</i><br>
                  <br>
                  <p>
                    Поле может быть заполнено только единожды.<br>
                    Поля имеют следующий формат:<br>
                    _названиеПеременной: $типДанных {УровеньДоступа};<br><br>
                    Переменные начинаются с символа "_", состоят из кириллицы, длиной не более 40 символов.<br>
                    Тип данных начинается с символа "$", существуют следующие типы данных: $слово, $буква, $время, $число.<br>
                    Уровень доступа определяет, кто может заполнить поле. Существует следющие уровени доступа: конкретный логин (например {Y02}), лицензия (например {ПР}), любой игрок {ВСЕ}.<br>
                    Поля завершаются символом ";"<br>
                  </p>
                  <p>
                    Список получателей прибыли имеет следующий формат:<br>
                    ЛогинПолучателя: Формула;<br>
                    Формулы завершаются символом ";"<br>
                  </p>
                  <p>
                    Для формул доступны встроенные методы:<br>
                    Математические: +,-,*,/,<br>
                    Логические: ==,!=,>,<,<=,>=,||,&&,<br>
                    @@ - проверяет заполнено ли поле (например: @@_названиеПоля)<br>
                    <br>
                    Специальные методы:<br>
                    ^ДЛИНА(_названиеПоля) - число символов в поле типа $слово<br>
                    ^ВЕС(_названиеПоля) - себестоимость типа $слово в игровых деньгах<br>
                    ^АВТОР(_названиеПоля) - логин заполневшего "_названиеПоля"<br>
                    ^УСЛ( логическоеВыражение ? исход_если_да | исход_если_нет)<br>
                  </p>
                  <p>
                    ВАЖНО!!!<br>
                    Все матемтические выражение необходимо писать попарно, заключая в круглые скобки:<br>
                    (2+3)<br>
                    ((2*3)+4)<br>
                    ((1/1)+(3/4))<br>
                    Примеры НЕверной записи:<br>
                    2+3<br>
                    (2+3+4)<br>
                    ((1+3)+(3+4)+(3+5))<br>
                  </p>
                  <p>
                    Логические выражение записываются так же, попарно.<br>
                  </p>
                </p>
                <b>3. Пример кода контракта</b><br>
                <p>КОНТРАКТ#<br>
                  _цена: $число {Y02};<br>
                  _стартовоеСлово: $слово {Y02};<br>
                  РЕЗУЛЬТАТ#<br>
                  Bank: 0;<br>
                  Y02: ^УСЛ(@@_цена ? (^ДЛИНА(_стартовоеСлово) + _цена) | 0);</p><br>
                <b>4. Среда разработки</b><br>
                &nbsp;&nbsp;&nbsp;Для более удобной разработки смарт-контрактов можно использовать IDE: <a href="https://code.visualstudio.com/">Visual Studio Code</a>
                для данной VS Code разработан плагин по работы с языком контрактов "T2CH Lang".<br>
                &nbsp;&nbsp;&nbsp;Установите плагин и создайте файл с расширением .t2ch для его использования:<br>
                <img src="/img/scrin.png" style="height:200px"><br><br>
                &nbsp;&nbsp;&nbsp;После разработки, вставьте текст контракта в соотвествующее поле
                <span onclick="area()" data-dismiss="modal" aria-label="Close" aria-hidden="true" style="cursor:pointer;">
                  <u>тут</u>.
                </span>
              </p>
            </div>
          </div>
      </div>
    </div>

        <!-- SubBlock 2: Show Blocks -->
      <div class="row vh-75" style="margin-top:20px;">
        <div class="col-block h-100 col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col h-100">
            <div class="card text-center h-100">
              <div class="card-header font-weight-bold">
                Обозреватель блоков
                <span onclick="updLog()" style="cursor: pointer">&nbsp;&nbsp;<img id="updLogImg" src="/img/upd.png" width="16px"></span>
              </div>
              <div class="card-body overflow-auto">
                <div class="table-responsive">
                  <table class="table">
                    <thead style="text-align: center;">
                      <tr>
                        <th >#</th>
                        <th>Время</th>
                        <th>Раунд</th>
                        <th>Актор</th>
                        <th>Контракт</th>
                        <th>Действие</th>
                      </tr>
                    </thead>
                    <tbody id="logs-div">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  {% endblock %}
  {% block commonJS %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!--script src="/js/contractPageConf.js"></script>
  <script src="/js/createContract.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="/js/deb.js"></script>
    <script src="/js/sc.js"></script>
    <script>
      function area(){
        let ar = document.getElementById('podsvetka');
        let i = 0;

        function grey(i) {
          if (i<6) {
            setTimeout(()=>{
              ar.style = 'background-color:#fff;';
              console.log('grey')
              ++i;
              pink(i)
            }, 300)
          }
        }

        function pink(i) {
          if (i<6) {
            setTimeout(()=>{
              ar.style = 'background-color:pink;';
              console.log('pink')
              ++i;
              grey(i)
            },300)
          }
        }

        pink(0);
      }
    </script>
  {% endblock %}