{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-7 col-md-7 col-12">
        <p>
            {% if actualLic != null %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Памятка к лицензии!</h4>
                    <p>{{actualLic.sub | striptags(true) | escape | nl2br }}</p>
                </div>          
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Внимание!</h4>
                    <p>У вас нет актуальных лицензий</p>
                </div>
            {% endif %}
        </p>
        <h2>На Вашем балансе: 
            {% if (user.balance == specBalance) %}
                {{user.balance}}
            {% else %}
                {% set dolg = user.balance-specBalance %}
                {{specBalance}} (залог: {{dolg}})
            {% endif %}
        </h2>

        {% if stop == false %}
        <hr>
        <h3>Переводы:</h3>
        {% if actualLic != null or charge == true%}
        <form action="/send" method="POST">
            <input id="amount" name="amount" class="form-control" type="text" placeholder="Сумма перевода">
            <br>
            <p>Получатель</p>
            <select name="responser" class="selectpicker" data-show-subtext="true" data-live-search="true">
                {% for item in userList %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
                {% for contr in contras %}
                    {% if selectedResp %}
                        <option value="{{contr}}" {% if selectedResp==contr %}selected{% endif %}>Конракт: {{contr}}</option>
                    {% else %}
                        <option value="{{contr}}">Конракт: {{contr}}</option>
                    {% endif %}
                {% endfor %}
                <option value="Всем">Всем</option>
            </select>
            <br>
            <br>
            {% if charge == true %}
                <input type="radio" id="Банк" name="liclist" value="Банк" checked>
                <label for="Банк">Банк</label><br>
            {% endif %}
            {% for lic in licList %}
                {% if loop.index == 0 %}
                <input type="radio" id="{{lic}}" name="liclist" value="{{lic}}" checked>
                {% else %}
                <input type="radio" id="{{lic}}" name="liclist" value="{{lic}}" {% if selectedResp and lic=="Смарт-контракт"%} checked{%endif%}>
                {% endif %}
                <label for="{{lic}}">{{lic}}</label><br>
            {% endfor %}
            <br>
            <input id="number" name="count" class="form-control" type="number" placeholder="Кол-во единиц" {% if selectedResp %} value="1"{%endif%}>
            <br>
            <input id="text" name="text" class="form-control" type="text" placeholder="Предмет оплаты" {% if selectedResp %} value="Пополнение контракта"{%endif%}>
            <br>
            <button type="input" class="btn btn-success">Перевести</button>
        </form>
        {% else %}
            <p style="color:brown">Без лицензии Вам недоступны переводы.</p>
        {% endif %}
        <br>

        {% if charge == true %}
        <hr>
        <h3>Списания:</h3>
        <form action="/charge" method="POST">
            <input id="amount" name="amount" class="form-control" type="text" placeholder="Сумма взыскания">
            <br>
            <p>Счета для взысканиия</p>
            <select name="responser" class="selectpicker" data-show-subtext="true" data-live-search="true">
                {% for item in userList %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="input" class="btn btn-success">Взыскать</button>
        </form>
        <br>
        {% endif %}
    {% else %}
    <h3>Гейм завершён. Чтобы совершить перевод, дождитесь следующего гейма.</h3>
    {% endif %}
        <hr>
        <h3>Мои операции:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Счет</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Комментарий</th>
                  </tr>
                </thead>
                <tbody>
                {% for op in ops %}
                <tr>
                    {% if op.sender == user.login %}
                    <th scope="row">{{(ops.length - loop.index) + 1}}</th>
                    <td>{{op.responser}}</td>
                    <td>-{{op.amount}}</td>
                    <td>{{op.text}}</td>
                    {% else %}
                    <th scope="row">{{(ops.length - loop.index) + 1}}</th>
                    <td>{{op.sender}}</td>
                    <td>+{{op.amount}}</td>
                    <td>{{op.text}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-lg-5 col-md-5 col-12">
        <h3 style="color:brown">Правила использованиия счёта</h3>
        <p>
            <ul>
                <li>К каждому переводу необходимо указывать комментарий, описывающий предмет сделки.</li>
                <li>Запрещено совершать операции не соответствующие вашей лицензии.</li>
            </ul>
        </p>
        <p>За несоблюдение выше перечисленных предписаний, банк в праве <b>взыскать штраф</b> в размере от 1x до 3x кратного размера транзакции.</p>
        <br>
        <p>Банк в праве запросить разъяснение по операциям типа "другое", а также запросить доказательства реальности сделки. <b> В случае отказа от разъяснений или выявления фиктивности сделки - блокировка счёта.</b></p>
        <br>
        {% if actualLic.subsidy != "true" %}
        <p><b><span style="font-size: 15pt; color:rgb(0, 46, 121);">В банке можно взять кредит</span></b> на один гейм под {{bankProcent}}% за гейм.<br>Деньги списываются автоматически по итогу гейма.<br>
            <form action="/getcredit" method="POST">
                <input id="credit" name="credit" class="form-control" type="text" placeholder="Сумма кредита">
                
                <span><i>Доступный лимит на этот гейм: {{creditLimit}}</i></span><br><br>
                {% if stop == false %}
                    <button type="input" class="btn btn-success">Получить кредит</button>
                {% else %}
                    <button type="input" class="btn btn-success" disabled>Получить кредит</button>
                {% endif %}
            </form>
        </p>
        {% else %}
        <p>
            <b><span style="font-size: 15pt; color:rgb(0, 46, 121);">Вам доступна субсидия</span></b>
            <br>Размер субсидии до 3000 на один гейм.<br>Непотраченная часть субсидии списывается по итогу гейма.<br>
            На расходуемую часть субсидии налагается {{subsidyProcent}}%, списывается по итогу гейма вместе с нерасходуемой частью.<br>
            <form action="/getsubsidy" method="POST">
                <input id="subsidy" name="subsidy" class="form-control" type="text" placeholder="Сумма субсидии">
                
                <span><i>Доступный лимит на этот гейм: {{subsidyLimit}}</i></span><br><br>
                {% if stop == false %}
                    <button type="input" class="btn btn-success">Получить субсидию</button>
                {% else %}
                    <button type="input" class="btn btn-success" disabled>Получить субсидию</button>
                {% endif %}
            </form>
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}