{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-7 col-md-7 col-12">
            <h2 style="display: inline;"><b>у Вас: {{user.balance}} VIR и &nbsp;&nbsp;{{user.place}} уровень</b>&nbsp;&nbsp;</h2>
                {% if user.place-user.dayPlus >= 0 %}
                    <h4 style="display: inline;">D+{{user.place-user.dayPlus}}&nbsp;
                {% else %}
                    <h4 style="display: inline;"> D{{user.place-user.dayPlus}}&nbsp;
                {% endif %}
                {% if user.place-user.weekPlus >= 0 %}
                    W+{{user.place-user.weekPlus}}&nbsp;
                {% else %}
                    W{{user.place-user.weekPlus}}&nbsp;
                {% endif %}
                {% if user.place-user.monthPlus >= 0 %}
                    M+{{user.place-user.monthPlus}}</h4>
                {% else %}
                    M{{user.place-user.monthPlus}}</h4>
                {% endif %}
        {% if stop == false and user.status == 1 %}
        <hr>
        <h3>Поделиться:</h3>
        <form action="/send" method="POST" id="myform">
            <input id="amount" name="amount" class="form-control" type="text" placeholder="На сколько">
            <br>
            <p>С кем</p>
            <select name="responser" class="form-control" data-show-subtext="true" data-live-search="true">
                {% for item in userList %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
                <option value="Всем">Всем</option>
            </select>
            <br>
            {% if charge == true %}
                <input type="radio" id="Банк" name="liclist" value="Банк" checked>
                <label for="Банк">Банк</label><br>
            {% endif %}
            <br>
            <input id="text" name="text" class="form-control" type="text" placeholder="Сообщение">
            <br>
            <button type="button" onclick="conf()" class="btn btn-primary">Поделиться</button>
        </form>
        <br>

        {% if charge == true %}
        <hr>
        <h3>Списания:</h3>
        <form action="/charge" method="POST">
            <input id="amount" name="amount" class="form-control" type="text" placeholder="Сумма взыскания">
            <br>
            <p>Счета для взысканиия</p>
            <select name="responser" class="selectpicker" data-show-subtext="true" data-live-search="true">
                {% for item in userList %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="input" class="btn btn-primary">Взыскать</button>
        </form>
        <br>
        {% endif %}
    </div>
    {% elif user.status == 0 %}
    <h3>Вы не подтвердили свою почту</h3>
    </div>
    {% else %}
    <h3>Гейм завершён. Чтобы совершить перевод, дождитесь следующего гейма.</h3>
    </div>
    {% endif %}
    <div class="col-lg-5 col-md-5 col-12">
        
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <hr>
        <h3>Shared:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Сколько</th>
                    <th scope="col">Кто</th>
                    <th scope="col">Сообщение</th>
                  </tr>
                </thead>
                <tbody>
                {% for op in ops %}
                <tr>
                    {% if op.sender == user.login %}
                    <th scope="row">{{(ops.length - loop.index) + 1}}</th>
                    <td>{{op.responser}}</td>
                    <td>-{{op.amount}}</td>
                    {% set who = "-" %}
                    {% for us in userName %}
                        {% if us.login == op.responser %}
                            {% set who = us.name+" "+us.lastname %}
                        {% endif %}
                    {% endfor %}
                    <td>{{who}}</td>
                    <td>{{op.text}}</td>
                    {% else %}
                    <th scope="row">{{(ops.length - loop.index) + 1}}</th>
                    <td>{{op.sender}}</td>
                    <td>+{{op.amount}}</td>
                    {% set who = "-" %}
                    {% for us in userName %}
                        {% if us.login == op.sender %}
                            {% set who = us.name+" "+us.lastname %}
                        {% endif %}
                    {% endfor %}
                    <td>{{who}}</td>
                    <td>{{op.text}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script type="text/javascript">
    function conf() {
        var is = null;
        $.confirm({
            title: 'Хотите поделиться?',
            content: "",
            draggable: true,
            columnClass: 'col-md-6',
            buttons: {
                confirm: {
                    text:  "Да",
                    btnClass: 'btn-green',
                    action: () => {submitForm();}
                },
                cancel:{
                    text:  "Нет",
                    btnClass: 'btn-red'
                }
            }
        });
    };

    function submitForm() {
        $("#myform").submit();
    }
</script>
{% endblock %}