{% extends "templates/page.html" %}
        <!-- Для шапки и футера однозначно нужен темплейт -->
{% block content %}
<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
        <h2>На Вашем балансе: 
            {% if (user.balance == specBalance) %}
                {{user.balance}}
            {% else %}
                {% set dolg = user.balance-specBalance %}
                {{specBalance}} (залог: {{dolg}})
            {% endif %}
        </h2>

        {% if stop == false %}
        <hr>
        <h3>Переводы:</h3>
        <form action="/send" method="POST">
            <input id="amount" name="amount" class="form-control" type="text" placeholder="Сумма перевода">
            <br>
            <p>Получатель</p>
            <select name="responser" class="selectpicker" data-show-subtext="true" data-live-search="true">
                {% for item in userList %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
                <option value="Всем">Всем</option>
            </select>
            <br>
            <br>
            {% for lic in licList %}
                {% if baseLic == lic %}
                <input type="radio" id="{{lic}}" name="liclist" value="{{lic}}" checked>
                {% else %}
                <input type="radio" id="{{lic}}" name="liclist" value="{{lic}}">
                {% endif %}
                <label for="{{lic}}">{{lic}}</label><br>
            {% endfor %}
            <br>
            <input id="text" name="text" class="form-control" type="text" placeholder="Комментарий к платежу">
            <br>
            <button type="input" class="btn btn-success">Перевести</button>
        </form>
        <br>

        {% if charge == true %}
        <hr>
        <h3>Списания:</h3>
        <form action="/charge" method="POST">
            <input id="amount" name="amount" class="form-control" type="text" placeholder="Сумма взыскания">
            <br>
            <p>Счета для взысканиия</p>
            <select name="responser" class="selectpicker" data-show-subtext="true" data-live-search="true">
                {% for item in userList %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="input" class="btn btn-success">Взыскать</button>
        </form>
        <br>
        {% endif %}
        <hr>
        <h3>Мои операции:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Счет</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Комментарий</th>
                  </tr>
                </thead>
                <tbody>
                {% for op in ops %}
                <tr>
                    {% if op.sender == user.login %}
                    <th scope="row">{{(ops.length - loop.index) + 1}}</th>
                    <td>{{op.responser}}</td>
                    <td>-{{op.amount}}</td>
                    <td>{{op.text}}</td>
                    {% else %}
                    <th scope="row">{{(ops.length - loop.index) + 1}}</th>
                    <td>{{op.sender}}</td>
                    <td>+{{op.amount}}</td>
                    <td>{{op.text}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3>Раунд завершён. Чтобы совершить перевод, дождитесь следующего раунда.</h3>
        {% endif %}
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <h3 style="color:brown">Правила использованиия счёта</h3>
        <p>
            <ul>
                <li>Переводить средства в первом рануде разрешено только внутри игрового стола. (Исключение: распределениие прибыли <b>проектной компании</b>.)</li>
                <li>К каждому переводу необходимо указывать комментарий, описывающий предмет сделки.</li>
                <li>Запрещено совершать операции не соответствующие вашей лицензии.</li>
            </ul>   
        </p>
        <p>За несоблюдение выше перечисленных предписаний, банк в праве <b>взыскать штраф</b> в размере от 1x до 3x кратного размера транзакции.</p>
        <br> 
        <p>Банк в праве запросить разъяснение по операциям типа "другое", а также запросить доказательства реальности сделки. <b> В случае отказа от разъяснений или выявления фиктивности сделки - блокировка счёта.</b></p>
        <br>
        <p>В банке можно взять кредит на один раунд до 200 у.е. под 10% за раунд.<br>За получением кредита обращаться в телеграм к оператору банка @VKapicyn</p>
    </div>
</div>

{% endblock %}