{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block commonStyles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    {% endblock %}
    <title></title>
</head>
<body>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <a class="navbar-brand" href="/rait">
            <img src="/img/логотип1.png" width="60" height="45" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/">
                        Кабинет
                    </a>&nbsp;&nbsp;
                </li>
                <li>
                    <a href="/wallet">
                        Счет 
                    </a>&nbsp;&nbsp;
                </li>
                <li>
                    <a href="/rait">
                        Рейтинг
                    </a>&nbsp;&nbsp;
                </li>
                <li>
                    <a href="/txs">
                        Транзакции 
                    </a>&nbsp;&nbsp;
                </li>
                <li>
                    <a href="/board">
                        Объявления 
                    </a>&nbsp;&nbsp;
                </li>
                <li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <li>
                    <a href="/logout">
                        Выйти 
                    </a>
                </li>
    </div>
  </nav>
  <hr>


{% endblock %}


<div class="container-fluid">
  
<!-- ======================================================================= -->
<!-- Main content -->
<!-- ======================================================================= -->
            {% block content %}
            123
            {% endblock %}
      
</div>


<!-- ======================================================= -->
<!-- Footer -->
<!-- ======================================================= -->
{% block footer %}
<hr>
<footer>
        <div class="foot">
            <table width="100%"><tr>
                <td width="33%"></td>
                <td width="33%"><p align="center">2019 System-2 ©</p></td>
                <td width="33%"><p align="right" style="padding-right: 10%;"><a href="http://t2ch.ru">Created by Time2Chain</a</p></td>
            </table></tr>
        </div>
    </footer>  
    {% block commonJS %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    {% endblock %}
</body>
</html>
{% endblock %}
