{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block commonStyles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    {% endblock %}
    <title>Share</title>
</head>
<body>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <a class="navbar-brand" href="/">
            <img src="/img/логотип2.png" width="32px" height="32px" style="margin-top: -8px;" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="navbar-nav">
                <li>
                    <a href="/wallet">ID:</a>
                    <b><span class="font-size:15pt" id="mylogin2"></span></b>&nbsp;&nbsp;&nbsp;
                </li>
                <li>
                    <a href="/rait">
                        Рейтинг
                    </a>&nbsp;&nbsp;
                </li>
                <li>
                    <a href="/txs">
                        Транзакции
                    </a>&nbsp;&nbsp;
                </li>
                <li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <li>
                    <b><span class="font-size:15pt" id="mylogin"></span></b>&nbsp;
                    <a href="/logout" id="logout">
                        Выйти
                    </a>
                </li>
    </div>
  </nav>
  <hr>


{% endblock %}


<div class="container-fluid">
  
<!-- ======================================================================= -->
<!-- Main content -->
<!-- ======================================================================= -->
            {% block content %}
            123
            {% endblock %}
      
</div>


<!-- ======================================================= -->
<!-- Footer -->
<!-- ======================================================= -->
{% block footer %}
<hr>
<footer>
        <div class="foot">
            <table width="100%"><tr>
                <td width="33%"></td>
                <td width="33%"><p align="center">2020 <a href="https://t2ch.io">Time2Chain LLC</a> ©</p></td>
                <td width="33%"><p align="right" style="padding-right: 10%;"></p></td>
            </table></tr>
        </div>
    </footer>  
    {% block commonJS %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script>
        (async () => {
            let usr = await $.get('/api/mylogin');
            let span = document.getElementById('mylogin2');
            span.innerHTML = usr.usr ? ` ${usr.usr}` : '';
            if (!usr.usr)
                document.getElementById('logout').remove();
        }
        )();
    </script>
    {% endblock %}
</body>
</html>
{% endblock %}
